.wrapper {
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
}

.input {
    padding: 1rem;
    border: 1px solid #012f66;
}

.button {
    padding: 1rem;
    cursor: pointer;
}