.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.link {
    font-size: 1.25rem;
    text-decoration: none;
    color: purple;
    transition: .3s linear;
    border-bottom: 1px solid purple;
}

.link:hover {
    border-bottom: 1px solid transparent;
}

.basket {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid #012f66;
    border-radius: 50%;
    transition: .3s linear;
}

.basket:hover {
    border: 1px solid rgba(1, 47, 102, 0.5);
}