.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav a {
    font-size: 1.25rem;
    text-decoration: none;
    color: purple;
    transition: .3s linear;
    border-bottom: 1px solid purple;
}

.nav a:hover {
    border-bottom: 1px solid transparent;
}